/* GLOBAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

/***********/



/* HEADER */
header{
    background-color: #DDDDDD;
    height: 120px;
}

.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.flex-header .menub{
    width: 40px;
    height: 40px;
    background-image: url('/menub');
    background-size: cover;
    display: none;
    cursor: pointer;
}

.flex-header .logo{
    font-size: 32px;
    text-transform: uppercase;
}

.flex-header .menu-desktop ul li{
    display: inline-block;
    font-size: 22px;
    margin-left: 30px;
}

.flex-header .menu-desktop ul li a {
    color: black;
    text-decoration: none;
}

.flex-header .menu-desktop ul li input{
    font-size: 22px;
    padding-left: 8px;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.flex-header .menu-desktop ul img{
    width: 28px;
    height: 28px;
    position: relative;
    top: 5px;
    right: 40px;
}

.flex-header .search{
    width: 50px;
    height: 50px;
    background-image: url('/search');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: none;
}

.menu-mobile{
    /* width: 250px; */
    width: 0;
    overflow: hidden;
    background-color: #DDDDDD;
    text-align: center;
    height: calc(100vh - 120px);

}

.menu-mobile ul li{
    font-size: 21px;
    padding-top: 20px;
    list-style-type: none;
    
}

.menu-mobile ul li a {
    color: black;
    text-decoration: none;
}


/***********/

/* MEDIA QUERIES */
@media screen and (max-width:980px){
    .menu-desktop{
        display: none;
    }

    .flex-header .menub{
        display: block;
    }
    
    .flex-header .search{
        display: block;
    }
    

}
/***********/