<header>  
    <div class="container">

        <div class="flex-header">

            <div class="menub"><img src="../imagens/icon_menu.png" alt="icon-menu"></div>  {{!-- botão do menu --}}

            <div class="logo"><a href="/">Logo</a></div> {{!-- logo --}}

                <form action="/pesquisar" class="barrapesquisa" method="get">
                    <input type="text" name="valorpesquisa"> 
                    <button type="submit"></button>
                </form> {{!-- barra de pesquisa menu mobile --}}

                <div class="close"><img src="../imagens/close.png" alt="search"></div> {{!-- fechar --}}
                <div class="search"><img src="../imagens/search.png" alt="search"></div> {{!-- pesquisar --}}

                

            <div class="menu-desktop">
                <ul>
                    <li><a href="/cadastrar">CADASTRO NOTICIAS</a></li>
                    <li><a href="/">EXIBIR NOTICIAS</a></li>
                    <li><form action="/pesquisar" method="get">
                        <input type="text" name="valorpesquisa"> 
                        <button type="submit"></button>
                        </form>
                        </li>
                </ul> 
            </div> {{!-- menu-desktop --}}

                
            
            
        </div> {{!-- flex-header --}}
    </div> {{!--container --}}

    <div class="menu-mobile">
        <ul>                        
            <li><a href="/cadastrar">CADASTRO NOTICIAS</a></li>
            <li><a href="/">EXIBIR NOTICIAS</a></li>
        </ul> 
    </div> {{!-- menu-mobile --}}
</header>