<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/script.js"></script>
    <title>Postagem com nodeJS</title>
</head>
<body>
    <header>
        <div class="container">

            <div class="flex-header">

                <div class="menub"><img src="imagens/icon_menu.png" alt="icon-menu"></div>  {{!-- botão do menu --}}

                <div class="logo">Logo</div> {{!-- logo --}}
                
                <div class="menu-desktop">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">CADASTRO NOTICIAS</a></li>
                        <li><a href="">EXIBIR NOTICIAS</a></li>
                        <li><input type="text" > <a href=""><img src="imagens/search.png" alt="search"></a></li>
                    </ul> 
                </div> {{!-- menu-desktop --}}

                <div class="search"><img src="imagens/search.png" alt="search"></div> {{!-- pesquisar --}}
                
            </div> {{!-- flex-header --}}
        </div> {{!--container --}}

        <div class="menu-mobile">
                    <ul>
                        <li><a href="">CADASTRO NOTICIAS</a></li>
                        <li><a href="">EXIBIR NOTICIAS</a></li>
                    </ul> 
                </div> {{!-- menu-mobile --}}
    </header>

    <main>
        
        {{{body}}}
        
    </main>
    
    <footer>DESENVOLVIDO POR PROGRAMADOR</footer>
</body>
</html>