<div class="form-cadastrar">
    <form class="notnull" action="" method="POST">
        <h2>Cadastro de Notícias</h2>
        <input type="text" name="titulo" placeholder="Título da Notícia" required>
        <textarea name="conteudo" placeholder="conteúdo da Notícia" required></textarea>
        <button>Enviar</button>
    </form>
    <a href="/"><button>Voltar</button></a>
    <div class="clear"></div>
</div>