<div class="noticias">

    {{#each posts}}
    <div class="noticia notnull">
        <h2>{{dataValues.titulo}}</h2>
        <p>{{dataValues.conteudo}}</p>
        <a href=""><button>Acessar</button></a>
    </div> {{!-- noticia --}}
    {{/each}}

    

</div> {{!-- noticias --}}
