<div class="noticias">

    <div class="noticia">
        <h2>Título da notícia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit convallis aliquet. Vivamus elit nibh, sodales a tellus non, finibus luctus purus. </p>
        <a href=""><button>Acessar</button></a>
    </div> {{!-- noticia --}}

    <div class="noticia">
        <h2>Título da notícia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit convallis aliquet. Vivamus elit nibh, sodales a tellus non, finibus luctus purus. </p>
        <a href=""><button>Acessar</button></a>
    </div> {{!-- noticia --}}

    <div class="noticia">
        <h2>Título da notícia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit convallis aliquet. Vivamus elit nibh, sodales a tellus non, finibus luctus purus. </p>
        <a href=""><button>Acessar</button></a>
    </div> {{!-- noticia --}}

    <div class="noticia">
        <h2>Título da notícia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit convallis aliquet. Vivamus elit nibh, sodales a tellus non, finibus luctus purus. </p>
        <a href=""><button>Acessar</button></a>
    </div> {{!-- noticia --}}

    <div class="noticia">
        <h2>Título da notícia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit convallis aliquet. Vivamus elit nibh, sodales a tellus non, finibus luctus purus. </p>
        <a href=""><button>Acessar</button></a>
    </div> {{!-- noticia --}}

    <div class="noticia">
        <h2>Título da notícia</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam blandit convallis aliquet. Vivamus elit nibh, sodales a tellus non, finibus luctus purus. </p>
        <a href=""><button>Acessar</button></a>
    </div> {{!-- noticia --}}

</div> {{!-- noticias --}}
