/* GLOBAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

/***********/



/* HEADER */
header{
    background-color: #DDDDDD;
    height: 110px;
    z-index: 999;
    width: 100%;
}

.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.flex-header .menub{
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    margin-left: 2%;
}
.flex-header .menub img{
    width: 40px;
    height: 40px;
}

.flex-header .logo a{
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.flex-header .menu-desktop ul li{
    display: inline-block;
    font-size: 22px;
    margin-left: 30px;
}

.flex-header .menu-desktop ul li a {
    color: black;
    text-decoration: none;
}

.flex-header .menu-desktop ul li input{
    font-size: 20px;
    padding-left: 8px;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.flex-header .menu-desktop ul li input:-webkit-autofill {
    box-shadow:0 0 0 50px white inset; 
    -webkit-text-fill-color: #333;
}

.flex-header .menu-desktop input:-webkit-autofill:focus {
    box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
} 

.flex-header .menu-desktop ul button {
    display: inline-block;
    height: 26px;
    width: 26px;
    background-image: url( '../imagens/search.png' );
    background-size: 100%;
    border: none;
    background-color: white;
    position: relative;
    top: 6px;
    right: 40px;
    cursor: pointer;

}
.barrapesquisa{
    position: relative;
    top: 15px;
    display: none;
    width: 100%;
    margin-left: 5%;
}

.barrapesquisa input{
    width: 100%;
    font-size: 20px;
    padding: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #DDDDDD;
    outline: 0;
    text-align: center;

}

.barrapesquisa input:-webkit-autofill {
    box-shadow:0 0 0 50px #DDDDDD inset; 
    -webkit-text-fill-color: black;
}

.barrapesquisa input:-webkit-autofill:focus {
    box-shadow: 0 0 0 50px #DDDDDD inset;
    -webkit-text-fill-color: black;
} 


.flex-header .search{
    width: 50px;
    height: 50px;
    
}

.flex-header .search img{
    width: 100%;
    cursor: pointer;
    display: none;
}

.flex-header .close{
    position: relative;
    top: 2px;
    right: -5%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
    
}

.flex-header .close img{
    width: 35px;
    height: 35px;
}


.menu-mobile{
    /* width: 250px; */
    left: -230px;
    width: 230px;
    position: fixed;
    overflow: hidden;
    background-color: #DDDDDD;
    text-align: center;
    height: calc(100vh - 120px);
    transition: 0.4s;
    z-index: 999;

}

.menu-mobile ul li{
    font-size: 21px;
    padding-top: 20px;
    list-style-type: none;
    
}

.menu-mobile ul li a {
    color: black;
    text-decoration: none;
}

.mobaw{
    left: 0;
}

.none{
    display: none;
}

/***********/


/* MAIN */

main{
    padding: 40px 2%;
    background-color: #EEEEF0;
    min-height: 90vh;
}

main h2{
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 26px;

}

.noticias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.noticia{
    width: 400px;
    min-height: 500px;
    padding: 30px 0;
    background-color: white;
    margin: 30px 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.noticia h2{
    font-weight: bold;
    font-size: 22px;
    padding: 15px 0;
}

.noticia p{
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
}

.noticia button{
    background-color: #DFDEE0;
    padding: 10px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 5px 0 5px;

    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
}

.noticia button:hover{
    background-color: #d1d0d3;
}

.form-cadastrar{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding:150px 5% 150px 5%;
}

.form-cadastrar h2{
    text-align: left;
    text-transform: none;
    font-size: 24px;
}

.form-cadastrar input{
    width: 100%;
    font-size: 18px;
    padding: 8px 10px;
    outline: 0;
    margin-top: 10px;
    border: none;
    box-shadow: 1px 1px 5px 0px #000000;
}

.form-cadastrar textarea{
    width: 100%;
    font-size: 18px;
    padding: 8px 10px;
    outline: 0;
    margin-top: 10px;
    border: none;
    box-shadow: 1px 1px 5px 0px #000000;
    resize: vertical;
}

.form-cadastrar button{
    width: 130px;
    float: right;
    padding: 8px 0;
    font-size: 18px;
    background-color: #2E5AAB;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
}

.form-cadastrar a button{
    background-color: white;
    color: #2E5AAB;
    border: 1px solid #2E5AAB;
}
/***********/






/* FOOTER */
footer{
    background-color: #DDDDDD;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 1000;
}
/***********/




/* MEDIA QUERIES */
@media screen and (max-width: 1160px){
    .noticia{
        min-height: 500px;
        width: 370px;
        margin: 30px 20px;
    }

    .noticia h2{
        font-size: 20px;
    }
    
    .noticia p{
        font-size: 16px;
    }
    
    .noticia button{
        width: 130px;
        font-size: 16px;
    }

}

@media screen and (max-width:1060px){

    header{
        position: fixed;
        top: 0px;
    }

    .container{
        padding: 0 5%;
    }

    .menu-desktop{
        display: none;
    }

    .flex-header .menub{
        display: block;
    }
    
    .flex-header .search img{
        width: 100%;
        display: block;
    }
    
    main{
        margin-top: 110px;
    }

}





@media screen and (max-width: 880px){
    .noticia{
        width: 400px;
        min-height: 500px;
    }
    
    .noticia h2{
        font-size: 22px;
    }
    
    .noticia p{
        font-size: 18px;
    }
    
    .noticia button{
        width: 130px;
        font-size: 20px;
    }
}





@media screen and (max-width:778px){
    
    .flex-header .search{
        width: 40px;
        height: 40px;
        display: block;
    }

    .flex-header .menub{
        width: 35px;
        height: 35px;
        display: block;
    }

    .flex-header .menub img{
        width: 35px;
        height: 35px;
    }

    .flex-header .close{
        width: 30px;
        height: 30px;
    }
    
    .flex-header .close img{
        width: 30px;
        height: 30px;
    }

    .barrapesquisa{
        position: relative;
        top: 10px;
        display: none;
        width: 100%;
        margin-left: 5%;
    }
    

    .form-cadastrar button{
        float: left;
        margin-left: 0;
        margin-right: 5px;
        
    }
       
    
}





@media screen and (max-width: 600px){
    header{
        background-color: #DDDDDD;
        height: 80px;
    }

    .flex-header{
        height: 80px;
    }
    
    .flex-header .logo{
        font-size: 26px;
    }

    .menu-mobile{
        height: calc(100vh - 80px);
        width: 180px;
    }

    .menu-mobile ul li{
        font-size: 17px;
        padding-top: 20px;
        list-style-type: none;
    }

    main{
        margin-top: 80px;
    }

    footer{
        font-size: 16px;
    }

    .noticia h2{
        font-size: 20px;
    }
    
    .noticia p{
        font-size: 16px;
    }
    
    .noticia button{
        width: 130px;
        font-size: 16px;
    }
}

/***********/