/* GLOBAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear: both;
}

/***********/



/* HEADER */
header{
    background-color: #DDDDDD;
    height: 120px;
    z-index: 999;
    width: 100%;
}

.flex-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.flex-header .menub{
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;

}
.flex-header .menub img{
    width: 100%;
}

.flex-header .logo{
    font-size: 32px;
    text-transform: uppercase;
}

.flex-header .menu-desktop ul li{
    display: inline-block;
    font-size: 22px;
    margin-left: 30px;
}

.flex-header .menu-desktop ul li a {
    color: black;
    text-decoration: none;
}

.flex-header .menu-desktop ul li input{
    font-size: 22px;
    padding-left: 8px;
    outline: 0;
    border: 0;
    border-radius: 10px;
}

.flex-header .menu-desktop ul img{
    width: 28px;
    height: 28px;
    position: relative;
    top: 5px;
    right: 40px;
}

.flex-header .search{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
}

.flex-header .search img{
    width: 100%;
}

.menu-mobile{
    /* width: 250px; */
    left: -250px;
    width: 250px;
    position: fixed;
    overflow: hidden;
    background-color: #DDDDDD;
    text-align: center;
    height: calc(100vh - 120px);
    transition: 0.4s;
    z-index: 999;

}

.menu-mobile ul li{
    font-size: 21px;
    padding-top: 20px;
    list-style-type: none;
    
}

.menu-mobile ul li a {
    color: black;
    text-decoration: none;
}

.mobaw{
    left: 0;
}

/***********/


/* MAIN */

main{
    padding: 40px 2%;
    background-color: #EEEEF0;
    min-height: 90vh;
}

main h2{
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;

}

.noticias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.noticia{
    width: 450px;
    min-height: 550px;
    padding: 30px 0;
    background-color: white;
    margin: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.noticia h2{
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0;
}

.noticia p{
    font-size: 22px;
    text-align: center;
    padding: 0 20px;
}

.noticia button{
    background-color: #DFDEE0;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
}

.noticia button:hover{
    background-color: #d1d0d3;
}

.form-cadastrar{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    
    padding:150px 5% 150px 5%;
}

.form-cadastrar h2{
    text-align: left;
    text-transform: none;
    font-size: 30px;
}

.form-cadastrar input{
    width: 100%;
    font-size: 22px;
    padding: 8px 10px;
    outline: 0;
    margin-top: 10px;
    border: none;
    box-shadow: 1px 1px 5px 0px #000000;
}

.form-cadastrar textarea{
    width: 100%;
    font-size: 22px;
    padding: 8px 10px;
    outline: 0;
    margin-top: 10px;
    border: none;
    box-shadow: 1px 1px 5px 0px #000000;
    resize: vertical;
}

.form-cadastrar button{
    width: 150px;
    float: right;
    padding: 12px 0;
    font-size: 20px;
    background-color: #2E5AAB;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 10px;
}

.form-cadastrar a button{
    background-color: white;
    color: #2E5AAB;
    border: 1px solid #2E5AAB;
}
/***********/






/* FOOTER */
footer{
    background-color: #DDDDDD;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 1000;
}
/***********/




/* MEDIA QUERIES */
@media screen and (max-width: 1160px){
    .noticia{
        min-height: 500px;
        width: 350px;
    }
}

@media screen and (max-width:1060px){

    header{
        position: fixed;
        top: 0px;
    }

    .container{
        padding: 0 5%;
    }

    .menu-desktop{
        display: none;
    }

    .flex-header .menub{
        display: block;
    }
    
    .flex-header .search{
        display: block;
    }
    
    main{
        margin-top: 120px;
    }

}





@media screen and (max-width: 880px){
    .noticia{
        width: 300px;
        min-height: 400px;
    }
}





@media screen and (max-width:778px){
    
    .flex-header .search{
        width: 40px;
        height: 40px;
        display: block;
    }

    .flex-header .menub{
        width: 35px;
        height: 35px;
        display: block;
    }

    .noticia{
        width: 400px;
        min-height: 500px;
    }

    .form-cadastrar button{
        float: left
    }
       
    
}





@media screen and (max-width: 600px){
    header{
        background-color: #DDDDDD;
        height: 80px;
    }

    .flex-header{
        height: 80px;
    }
    
    .flex-header .logo{
        font-size: 26px;
    }

    .menu-mobile{
        height: calc(100vh - 80px);
        width: 180px;
    }

    .menu-mobile ul li{
        font-size: 17px;
        padding-top: 20px;
        list-style-type: none;
        
    }

    main{
        margin-top: 80px;
    }

    footer{
        font-size: 16px;
    }
}
/***********/